body {
  padding: 50px;
}

.App {
  text-align: center;
}

.starter {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(134, 204, 143, 0.356);
  margin: 50px;
  border: 5px solid black;
}

